<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign Up Page</title>

        <!-----Bootstrap style link------>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">


        <!------Custom css-------->
        <link rel="stylesheet" href="/css/signup.css">


    </head>

    <body>

        <div class="signup_section">
            <div class="container">
                <div class="signup_container">
                    <h3 class="pb-3 fw-bold">Sign Up</h3>

                    <form method="post" action="/signup" enctype="application/x-www-form-urlencoded">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Your Name</label>
                            <input type="text" name="name" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp">
                            <p class="fucking_error"><%= err && isError ? err : "" %></p>
                        </div>

                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Your Email</label>
                            <input type="email" name="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp">
                            <p class="fucking_error"><%= err && isError ? err : "" %></p>
                            <p class="fucking_error"><%= err && isExist  ? err : "" %></p>
                        </div>

                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input type="password" name="password" class="form-control" id="exampleInputPassword1">
                            <p class="fucking_error"><%= err && isError ? err : "" %></p>

                        </div>

                        <button type="submit" class="btn w-100 btn-success">Sign Up</button>
                    </form>

                    <p class="pt-2">Have an account? Please<a href="/signin"> Sign In</a></p>
                </div>
            </div>
        </div>
    </body>

</html>