<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Congratulations!!</title>

    <!-----Bootstrap style link------>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">


    <!------Custom css-------->
    <link rel="stylesheet" href="/css/main.css">

</head>

<body>
    <div class="container mt-5 pt-5">
        <div class="mx-auto text-center">
            <img class="" src="assets/successfull.png" alt="">
        </div>

        <h1 class="text-center text-warning">You have signed up successfully!!</h1>
        <h6 class="text-center text-white">Now please <a href="/signin" class="text-success">sign in</a></h6>
    </div>
</body>

</html>