.signin_section {
    background: linear-gradient(
        rgba(43, 43, 43, 0.4),
        rgba(56, 56, 56, 0.5)
      ),
      url(../assets/sign_in.jpg)
        center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100vw;
        height: 100vh;
}

.signin_container{
    background: #D5DBDB !important;
    max-width: 500px;
    width: 100%;
    margin: 50px auto;
    padding: 40px;
    border-radius: 6px;
}

.signin_container h3 {
    color: #78281F  !important;
}

form label {
    color: #78281F  !important;
}

.warnning_text {
    font-size: 12px;
    color: rgb(207, 34, 4) !important;
}

 p {
    color: #78281F ;
}

.signin_container a {
    text-decoration: none;
    color: #228B22 !important;
}

.fucking_error {
    color: #FF4500 !important
}